<!DOCTYPE html>
<html>
  <head>
    <title>Title</title>
    <meta name="keyword" content="時刻表,無料,json,api,スクレイピング,javascript">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/flat_ui/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/flat_ui/bootstrap/css/bootstrap-responsive.css">

    <!-- flat ui -->
    <link rel="stylesheet" type="text/css" href="/flat_ui/css/flat-ui.css">

    <script type="text/javascript" src="/javascripts/jquery-2.0.2.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>

    <!-- Google Analytics: I just want to know if my service is popular or not!! -->
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42600174-1', 'node-ninja.com');
  ga('send', 'pageview');

</script>
  </head>
  <body>
  	<div class="container-fluid">
  		<div class="row">
  			<div class="span5">
  				<h1>Densha API</h1>
  				<p>Ver. 0.0.1</p>
		  	</div>
  		</div>
  		<br>
  		<hr>
  		<div class="row-fluid">
  			<div class="span3 well">
  				<p><strong>"Densha API"とは?</strong></p>
  				<ul>
  					<li>時刻表データをJSON形式で出力します。</li>
  					<br>
  					<li>駅名・日付を入力してGetボタンで出力します。</li>
  					<br>
  					<li>複数路線が乗り入れている駅ではどこか１つのデータがとりあえず出力されます。</li>
  					<br>
  					<li>出力は整形されてないのでJSONLint等に貼付けて整形してください。</li>
  					<br>
  					<li>データは100%正確かは分からないので、悪しからず。</li>
  					<br>
  					<li>そのうちAPI提供するかもしれません。</li>
  					<br>
  					<li>Contact: <a href="https://twitter.com/yuuandroiddev">@yuuandroiddev</a></li>
  				</ul>
  			</div>
  			<div class="span9">
		  		<div class="row offset1">
		  			<div class="span4">
		  				<input id="input_stationName" type="text" placeholder="駅のなまえ" class="span4">
		  			</div>
		  			<div id="datetimepicker" class="span4">
		  				<input id="input_date" type="date" placeholder="日付" class="span2">
		  			</div>
		  			<div class="span2">
		  				<a id="a_get" href="javascript:void(0)" class="btn btn-primary btn-block" data-loading-text="Loading...">Get</a>
		  			</div>
		  		</div>
		  		<br/>
		  		<br/>
		  		<br/>
		  		<div class="row offset1">
		  			<div class="span9">
		  				<p id="p_result">{timetables:}</p>
		  			</div>
		  		</div>
		  	</div>
		</div>	
  	</div>
  </body>
</html>